force-app/main/default/flows/Job_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Applicant_Id_Existing</name>
        <label>Set Applicant Id (Existing)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applicant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Applicant_Id_New</name>
        <label>Set Applicant Id (New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Applicant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Applicant_Exists</name>
        <label>Applicant Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Applicant_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Applicant_Id_Existing</targetReference>
            </connector>
            <label>Applicant Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Job_Open</name>
        <label>Is Job Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applicant</targetReference>
            </connector>
            <label>Job Open</label>
        </rules>
        <rules>
            <name>Job_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Is_Close</targetReference>
            </connector>
            <label>Job Close</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Applicant</name>
        <label>Create Applicant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Applicant_Id_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Location__c</field>
            <value>
                <elementReference>$User.Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Applicant_Name__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>varApplicantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicant</name>
        <label>Get Applicant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Applicant_Name__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Job_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Job_Is_Close</name>
        <label>Job Is Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Jobclosed</name>
            <fieldText>&lt;p&gt;This Job is closed &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
