force-app/main/default/flows/Selected_for_Exam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Exam_Exist</name>
        <label>Exam Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exam Exist</defaultConnectorLabel>
        <rules>
            <name>Exam_does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Exam_before.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Exam</targetReference>
            </connector>
            <label>Exam does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shortlisted_for_Exam</name>
        <label>Shortlisted for Exam?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Exam_before</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
        <rules>
            <name>Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <label>Fail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Selected for Exam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Selected for Exam</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exam</name>
        <label>Create Exam</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Create_Exam_before.Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>examname</elementReference>
            </value>
        </inputAssignments>
        <object>Exam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Create_Exam_before</name>
        <label>Create Exam Before</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exam_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shortlisted_for_Exam</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>examname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
