force-app/main/default/flows/Technical_Round_Pass_for_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Technical_Round_Clear</name>
        <label>Technical Round Clear?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Interview.Status_of_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Round Pass</stringValue>
                </rightValue>
            </conditions>
            <label>Pass</label>
        </rules>
        <rules>
            <name>Rejected_In_Technical_Round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Interview.Status_of_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <label>Rejected In Technical Round</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Technical Round Pass for Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technical Round Pass for Interview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interview</name>
        <label>Create Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Technical_Round_Clear</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Mode__c</field>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Type__c</field>
            <value>
                <stringValue>Technical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_Interview__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Interview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interview</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
